# Python cache and build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.eggs/
*.manifest
*.spec
*.coverage
.coverage
.cache
.pytest_cache/
.tox/
.env/
.venv/
venv/
ENV/
env/
*.log
*.sqlite3
*.db
*.mypy_cache/
*.ipynb_checkpoints/

# IDE and editor folders
*.idea/
*.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Wheel metadata
pip-wheel-metadata/
